#root {
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to left, #F7FAFC, transparent);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manrope-unique {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}