#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #fff;
  /* color: #c4e244; */
    font-family: "Manrope", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}


.manrope-unique {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}